extends index.pug
block content
    div.container.view-first
        h1 Корзина покупок
        table.table.table-striped
            each position in current.positions
                tr
                    td.no-padding
                        img.pl-2.pr-2( src=position.product.cover)
                    td
                        a.pointer(href=position.product.link) #{position.product.name}
                    td
                        span #{position.product.price} рублей
                    td
                        form(method="post")
                            input.hide(name="pid" value=position.product._id)
                            input.hide(name="remove" value=1)
                            button.btn.btn-danger.text-center.pointer.js-restore(type="submit")
                                i.fa.fa-times
            tr.final
                td(colspan=2) Итого
                td(colspan=2) #{current.final} рублей
        h2 Контакты
        p Мы обещаем не использовать ваш номер телефона в рекламных целях. Так же обещаем не передавать его третьим лицам, кроме курьера, разумеется.
        p Если у вас имеются особые пожелания, напишите их в комментарии к заказу, мы обязательно прочитаем и постараемся выполнить.
        form.d-flex.flex-column.form-horizontal(method="post")
            div.form-group.row
                label.title.col-12.col-md-2( for="phone" )
                    i.fa.fa-asterisk  Телефон
                div.col-12.col-md-10
                    input.form-control( id="phone" name='phone' type="text" )
                    span.text-muted например, 89261234567, но можно так +7(926)123-45-67
            div.form-group.row
                label.title.col-12.col-md-2( for="name") Ваше имя
                div.col-12.col-md-10
                    input.form-control( id="name" name='name' type="text" )
            div.form-group.row
                label.title.col-12.col-md-2( for="address") Адрес
                div.col-12.col-md-10
                    input.form-control( id="address" name='address' type="text" )
            div.form-group.row
                label.title.col-12.col-md-2  Уведомления
                div.col-12.col-md-10
                    div.form-check
                        label.form-check-label( for="sendsms")
                            input.form-check-input(  id="sendsms" name='sendSms' type="checkbox")
                            | Отправлять в смс
            div.form-group.row
                label.title.col-12.col-md-2  Получение
                div.col-12.col-md-10
                    div.form-check
                    label.form-check-label( for="auto" )
                        input.form-check-input( id="auto" name="auto" checked type="radio")
                        | Доставка курьером
                        a( href="/delivery") (бесплатно, срок 1-2 дня)

                    div.form-check
                    label.form-check-label( for="manual" )
                        input.form-check-input( id="manual" name="manual" type="radio" )
                        | Самовывоз
                        a(  href="/delivery") (бесплатно от м. Новые черемушки 10:00-19:00)
            div.form-group.row
                label.title.col-12.col-md-2( for="note") Комментарий
                div.col-12.col-md-10
                    textarea.form-control( cols="20" id="note" name='note' rows="4")
            div.form-group.row
                div.col-10.submit
                    p Нажимая на кнопку "Заказать", я даю согласие на
                        |
                        |
                        a( href="/files/privacy_policy.pdf" target="_blank") обработку персональных данных
                div.col-10.d-flex.submit
                    input.hide(name="_id" value=current._id)
                    button.btn.btn-primary.pointer.mr-3(type='submit') Заказать

        if history
            h2 История заказов
            ul.list-unstyled
                each h in history
                    li.cart-history-item
                        a(href='cart/#[h._id]')
                            b #{h.status}
                            |
                            |
                            span #{h.date}

