html
    head
        - if(!seo) seo = {}
        meta(charset='UTF-8')
        title=meta.title
        meta(name="description" content=meta.description)
        meta(name="image" content=meta.image)
        meta(itemprop="name" content=meta.title)
        meta(itemprop="description" content=meta.description)
        meta(itemprop="image" content=meta.image)
        meta(name="twitter:title" content=meta.title)
        meta(name="twitter:description" content=meta.description)
        meta(name="twitter:url" content=meta.url)
        meta(name="twitter:image" content=meta.image)
        meta(name="og:title" content=meta.title)
        meta(name="og:description" content=meta.description)
        meta(name="og:url" content=meta.url)
        meta(name="og:image" content=meta.image)
        include controls/meta
        include controls/favicons
        //include controls/seo
        //- inject:css
        link(rel="stylesheet", href="/styles/styles.css")
        //- endinject
        //- inject:js
        script(src="/scripts/scripts.js")
        //- endinject
        block head
    body.sticky.cloak
        div.sticky-content
            include controls/navbar.pug
            block jumbo
            block content
        include controls/footer.pug
