html
    head
        meta(charset='UTF-8')
        title=seo.title
        meta(name="description" content=seo.description)
        meta(name="image" content=seo.image)
        meta(itemprop="name" content=seo.title)
        meta(itemprop="description" content=seo.description)
        meta(itemprop="image" content=seo.image)
        meta(name="twitter:title" content=seo.title)
        meta(name="twitter:description" content=seo.description)
        meta(name="twitter:url" content=seo.url)
        meta(name="twitter:image" content=seo.image)
        meta(name="og:title" content=seo.title)
        meta(name="og:description" content=seo.description)
        meta(name="og:url" content=seo.url)
        meta(name="og:image" content=seo.image)
        include controls/meta
        include controls/favicons
        //include controls/seo
        link(rel="stylesheet" href="/scripts/styles.css")
        link(rel="stylesheet" href="/scripts/flipclock.css")
        script(src="https://code.jquery.com/jquery-3.3.1.min.js")
        script(src="/scripts/flipclock.min.js")
        script(src="/scripts/timer.js")
        script(src="/scripts/sneak.js")
        block head
    body.sticky.cloak
        div.sticky-content
            include controls/navbar.pug
            block jumbo
            block content
        include controls/footer.pug
        script(src="/scripts/restore.js")