extends index.pug
block content
    div.container.view-first
        div.row.no-gutters.align-items-end
            div.col-sm-12.col-md.mr-3.mb-3
                div
                    a.btn.btn-red.m-back(href="/")
                        i.fa.fa-chevron-left.rgap
                        | Распродажа сумок

                h1.me-name #{product.name}
                div #{product.description}
            div.col-sm-12.col-md-auto.mb-3
                div.view-buy
                    div.price__status
                        div.price__status-available
                            span.yes
                                i.fa.fa-check-square-o.rgap
                                | В наличии
                    div
                        span.discount-text старая цена:
                        |
                        span.discount  #{product.discount}

                    div.price__value
                        span #{product.price} руб.
                        |
                        |
                        if product.bonus
                            span.bonus - #{product.bonus} !!!
                    div
                        button.price__purchase.js-contract
                            i.fa.fa-shopping-cart.rgap
                            | в корзину
        div.text-center.photo
            img.img-fluid(src=product.selectedImageSrc alt=product.name)
        div.photos
            each image in product.images
                a.me-link.text-center(href=image.url)
                    img( src=image.src)
        div.row
            div.me-info.col-md-12.col-lg-6
                if product.information
                    h2 Описание
                    div !{product.information}

        div.row
            div.col-12
                h2 Торопись, пока еще кое-что интересное осталось!
            include controls/card.pug
            each random in randoms
                +card(random,'col-lg-3 col-sm-6 col-12')
        div
            a.btn.btn-red.m-back(href="/")
                i.fa.fa-chevron-left.rgap
                | Распродажа сумок

